# FIFA Data Summarize
### Include data :
#### 1. Statistics data of each team
#### 2. Events data of each game
#### 3. Players data
#### 4. Players value data
#### 5. Competition history data

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
%matplotlib inline

# Read FIFA Data

## Statistics data of each team

In [26]:
#目前47場比賽的資料
data = pd.read_csv("data/FIFA_statistics_data.csv")
data.head()

,attendance,away_team_country,datetime,fifa_id,home_team_country,last_event_update_at,last_score_update_at,location,officials,stage_name,...,home_team_num_passes,home_team_passes_completed,home_team_distance_covered,home_team_balls_recovered,home_team_tackles,home_team_clearances,home_team_yellow_cards,home_team_red_cards,home_team_fouls_committed,home_team_tactics
0,43319,Panama,2018-06-24T12:00:00Z,300331546,England,2018-06-24T13:53:42Z,2018-06-24T13:53:42Z,Nizhny Novgorod Stadium,"['Ghead GRISHA', 'Redouane ACHIK', 'Waleed AHM...",First stage,...,568,523,97,24,1,11,1,0,13,3-5-2
1,44190,Tunisia,2018-06-23T12:00:00Z,300331547,Belgium,2018-06-23T13:55:55Z,2018-06-23T13:55:55Z,Spartak Stadium,"['Jair MARRUFO', 'Corey ROCKWELL', 'Juan ZUMBA...",First stage,...,471,378,102,46,3,15,0,0,12,3-4-3
2,43866,Spain,2018-06-15T18:00:00Z,300331524,Portugal,2018-06-21T02:36:18Z,2018-06-15T19:52:38Z,Fisht Stadium,"['Gianluca ROCCHI', 'Elenito DI LIBERATORE', '...",First stage,...,366,320,102,36,8,17,1,0,12,4-2-3-1
3,78011,Saudi Arabia,2018-06-14T15:00:00Z,300331503,Russia,2018-06-21T02:36:44Z,NaN,Luzhniki Stadium,"['Nestor PITANA', 'Hernan MAIDANA', 'Juan Pabl...",First stage,...,306,240,118,53,9,19,1,0,22,4-2-3-1
4,33973,Morocco,2018-06-25T18:00:00Z,300340184,Spain,2018-06-25T19:56:26Z,2018-06-25T19:56:26Z,Kaliningrad Stadium,"['Ravshan IRMATOV', 'Abdukhamidullo RASULOV', ...",First stage,...,762,694,103,27,8,4,0,0,5,4-2-3-1

## Events data of each game

In [11]:
event_data = pd.read_csv("data/Game_event_log.csv")
event_data.head()

  Away_team Home_team   ID          player time     type_of_event
0    Panama   England  521  Armando COOPER  10'       yellow-card
1    Panama   England  528   Fidel ESCOBAR  44'       yellow-card
2    Panama   England  527   Fidel ESCOBAR  45'       yellow-card
3    Panama   England  530    Anibal GODOY  62'  substitution-out
4    Panama   England  531   Ricardo AVILA  62'   substitution-in

## Players data 1

In [9]:
playerdata = pd.read_csv("data/fifa2018playerlist.csv")
playerdata.head()

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,1,GK,GUZMAN Nahuel,10.02.1986,GUZM?N,Tigres UANL (MEX),192,90
1,Argentina,2,DF,MERCADO Gabriel,18.03.1987,MERCADO,Sevilla FC (ESP),181,81
2,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
3,Argentina,4,DF,ANSALDI Cristian,20.09.1986,ANSALDI,Torino FC (ITA),181,73
4,Argentina,5,MF,BIGLIA Lucas,30.01.1986,BIGLIA,AC Milan (ITA),175,73

## Players data 2 (include wage)

In [18]:
playerdata_wage = pd.read_csv("data/Players Value.csv")
playerdata_wage.head()

C:\Users\sasadm\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Competition History data

In [17]:
competition_history = pd.read_csv("data/results.csv")
competition_history.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False